body{
display:grid;
grid-template-columns:1fr 1fr;
gap:40px;
width:85%;
margin:auto;
}

.contactForm input,
.contactForm textarea{
width:100%;
padding:12px;
margin-bottom:10px;
}

.contactForm button{
background:gold;
border:none;
padding:12px;
font-weight:bold;
}

footer{
text-align:center;
background:#06102a;
padding:25px;
margin-top:60px;
}

.whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
padding:14px 18px;
text-decoration:none;
border-radius:30px;
font-weight:bold;
box-shadow:0 6px 20px rgba(0,0,0,0.4);
}

.reveal{
opacity:0;
transform:translateY(40px);
transition:all 1s;
}

.reveal.active{
opacity:1;
transform:translateY(0);
}

@keyframes fadeUp{
0%{opacity:0;transform:translateY(40px)}
100%{opacity:1;transform:translateY(0)}
}

@media(max-width:900px){
.twoCol{
grid-template-columns:1fr;
}

.contactGrid{
grid-template-columns:1fr;
}
}